body{
    background-color: black;
    margin: 0;
    padding: 0;
}

#Banner{
    background-image: url(divider.jpeg);
    justify-content: center;
    display: flex;
    align-items: center;

    h1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
    }
}

#Main{
    #Commands{
        display: flex;
        justify-content: center;
        align-items: center;

        // #AddBook{
        //     display: none;
        // }

        // #Save{
        //     display: none;
        // }


        button{
            border: 1px solid black;
            background-color: white;
            background-image: url(dividervert.jpeg);
            border-radius: 90px;
            height: 40px;
            width: 40px;
            color: white;
            margin: 10px;
        }

        input[type="file"]{
        color: white;
        // border: 1px solid white;
        }
    }

    #Rack{
        // border: 1px solid blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding: 10px;
        #Shelf{
            display: flex;
            justify-content: space-around;
            align-items:flex-end;
            flex-direction: row;
            // border: 1px solid white;
            height: 200px;
            width: 90%;

            img{
                height: 180px;
                width: fit-content;
            }
        }
    }
}


.Rack{
    background-image: url(divider.jpeg);
    height: 20px;
    width: 90%;
}

.Shelf{
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    // border: 1px solid white;
    height: 200px;
    width: 90%;

    img{
        height: 180px;
        width: fit-content;
    }
}




